title: "Pragati Khekale Portfolio"
description: "Data Scientist | Machine Learning | Analytics"
url: "https://pragati2.github.io"
baseurl: ""
theme: minima

markdown: kramdown
highlighter: rouge

plugins:
  - jekyll-feed
  - jekyll-seo-tag
