<nav class="nav">
  <div class="logo"><a href="/">Pragati Khekale</a></div>

  <ul class="nav-links">
    <li><a href="/about">About</a></li>
    <li><a href="/resume">Resume</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
    <!-- Dark/Light Mode Toggle Slider -->
  <div style="text-align:right; margin:1rem;">
    <label class="switch">
      <input type="checkbox" id="dark-toggle">
      <span class="slider round">
        <span class="icon sun">🌞</span>
        <span class="icon moon">🌙</span>
      </span>
    </label>
  </div>  
</nav>
